Gitリポジトリの管理ファイル
.git
.gitignore

Docker関連
.dockerignore

Pythonのキャッシュと仮想環境
pycache/
*.pyc
*.pyo
*.pyd
.venv/
venv/

IDEの設定ファイル
.vscode/

データベースとデータフォルダ
data/

★★★★★ Renderデプロイ時は、下の行をコメントアウトしてDBをイメージに含める ★★★★★
chroma_db/
アプリケーションに関係ないインストーラーや圧縮ファイルを無視する
*.exe
*.msi
*.zip
*.7z
*.gz
*.tar
*.crdownload
