# Pythonのキャッシュファイル
__pycache__/
*.pyc


# Sentence Transformersのモデルキャッシュフォルダ
model_cache/
st_models/

# Node.js / npm 関連
node_modules/
package-lock.json

# 仮想環境
.venv/
oct_env/

# Replitが自動生成するファイル
.replit
replit.nix

# コンパイルされたファイルや圧縮ファイル
*.exe
*.zip
*.7z
.env
諸資格過程/
チャットボットdb/

"GeminiAPI\343\201\256\343\203\235\343\203\252\343\202\267\343\203\274,supabace,RAG\343\201\256\350\252\277\346\237\273.docx"
        c.html
        grafana_data/
        migrate.py
        prometheus-3.6.0-rc.1.windows-amd64/
        "\343\202\263\343\203\236\343\203\263\343\203\211\351\233\206/"
